@import url('https://fonts.googleapis.com/css?family=Pathway Gothic One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

body {margin: 0px;}
footer {height: 100px;}
.navigation:hover {background-color: #f2d800;}

.margin-left-small {margin-left: 8px;}
.margin-right-small {margin-right: 8px;}
.margin-top-small {margin-top: 8px;}
.margin-bot-small {margin-bottom: 8px;}
.margin-small {margin: 8px;}
.margin-left-medium {margin-left: 16px;}
.margin-right-medium {margin-right: 16px;}
.margin-top-medium {margin-top: 16px;}
.margin-bot-medium {margin-bottom: 16px;}
.margin-medium {margin: 16px;}
.margin-left-large {margin-left: 32px;}
.margin-right-large {margin-right: 32px;}
.margin-top-large {margin-top: 32px;}
.margin-bot-large {margin-bottom: 32px;}
.margin-large {margin: 32px;}

.padding-left-small {padding-left: 8px;}
.padding-right-small {padding-right: 8px;}
.padding-top-small {padding-top: 8px;}
.padding-bot-small {padding-bottom: 8px;}
.padding-small {padding: 8px;}
.padding-left-medium {padding-left: 16px;}
.padding-right-medium {padding-right: 16px;}
.padding-top-medium {padding-top: 16px;}
.padding-bot-medium {padding-bottom: 16px;}
.padding-medium {padding: 16px;}
.padding-left-large {padding-left: 32px;}
.padding-right-large {padding-right: 32px;}
.padding-top-large {padding-bottom: 32px;}
.padding-bot-large {padding-top: 32px;}
.padding-large {padding: 32px;}

.bg-color-white {background-color: #ffffff;}
.bg-color-black {background-color: #000000;}
.bg-color-dark-yellow {background-color: #f2d800;}
.bg-color-orange {background-color: #f26600;}
.bg-color-dark-blue {background-color: #0094cc;}
.bg-color-light-blue {background-color: #00aeef;}
.bg-color-navy-blue {background-color: #00374c;}

.text-color-white {color: #ffffff;}
.text-color-black {color: #000000;}
.text-color-dark-yellow {color: #f2d800;}
.text-color-orange {color: #f26600;}
.text-color-dark-blue {color: #0094cc;}
.text-color-light-blue {color: #00aeef;}
.text-color-navy-blue {color: #00374c;}
.text-color-grey {color: #4c4c4c;}

.text-bold {font-weight: bold;}
.text-underline {text-decoration: underline;}
.text-no-underline {text-decoration: none;}

.text-size-very-very-small {font-size: 12px;}
.text-size-very-small {font-size: 16px;}
.text-size-small {font-size: 24px;}
.text-size-medium {font-size: 32px;}
.text-size-large {font-size: 40px;}
.text-size-very-large {font-size: 48px;}

.full-height {height: 100%;}
.half-height {height: 50%;}
.full-width {width: 100%;}
.half {width: 50%;}
.one-third {width: 33.33%;}
.two-third {width: 66.66%;}
.quarter {width: 25%;}
.three-quarter {width: 75%;}
.one-five {width: 20%;}
.two-five {width: 40%;}
.three-five {width: 60%;}
.four-five {width:80%;}
.one-ten {width: 10%;}
.nine-ten {width:90%;}

.flex {display: flex;}
.center-vertical {align-items: center;}
.center-horizontal {justify-content: center;}
.center {
	align-items: center;
	justify-content: center;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.space-beetween {justify-content: space-between;}
.wrap-text {word-wrap: break-word;}
.flex-wrap{flex-wrap: wrap;}
.align-right {justify-content: flex-end;}
.align-bottom {align-items: flex-end;}
.row {flex-direction: row;}

.font-title{font-family: "Pathway Gothic One";}
.font-title-2{font-family: "Nunito Sans";}
.font-default{font-family: "Nunito";}
.font-field{font-family: "Arial";}

.hide {
  display: none;
}
