.register-box{
  width: 350px;
  border-left: #00aeef 5px solid;
  border-right: #00aeef 5px solid;
  border-top: #00aeef 25px solid;
  border-bottom: #00aeef 25px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 100px;
}

.register-bg {
  background: #fff;
  background-image:
    radial-gradient(lightgray 8%, transparent 0),
    radial-gradient(lightgray 8%, transparent 0);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
}

.input-small{
  height: 20px;
  width: 175px;
  padding-left: 3px;
}

.input-medium{
  height: 20px;
  width: 200px;
  padding-left: 3px;
}

.input-large{
  height: 60px;
  width: 200px;
  padding-left: 3px;
  resize: none;
}

.btn-register{
  border-width: 1px;
  border-color: #f26600;
  border-radius: 5px;
  padding: 10px;
}

.checkvalid{
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.hide {
  display: none;
}

.fakecheck{
  margin-right: 25px;
}